#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 50vh;
    color: white;
    background-color: #9484FF;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center center;
    padding: 1em;
}

#hero h1{
    padding: 0px 20px;
    text-align: center;
    font-family: "Shippori Antique B1"
}